.user {
  flex: 4;
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h3 {
      font-size: 40px;
    }
    a {
      text-decoration: none;
      margin-right: 50px;
      span {
        background-color: rgb(6, 0, 61);
        padding: 10px 20px;
        color: white;
        font-size: 18px;
        border: none;
        border-radius: 5px;
      }
    }
  }
  .wrapper {
    width: 100%;
    display: flex;
  }
}
