<div class="episode">
  <p class="episode__left">1</p>
  <div class="episode__right">
    <img
      src="https://img.welt.de/img/kultur/kino/mobile222551740/5071356787-ci16x9-w1280/SOUL.jpg"
      class="episode__right__img"
      alt=""
    />
    <div class="episode__right__container">
      <p class="episode__right__container__title">
        Ms. Knope Goes to Washington
      </p>
      <p class="episode__right__container__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis minima
        omnis consequuntur quibusdam exercitationem deserunt, cumque provident
        voluptate nulla saepe esse suscipit beatae a! Quod illo incidunt in
        neque dignissimos...
      </p>
    </div>
    <p class="episode__right__minute">21m</p>
  </div>
</div>
