.dropdown {
  position: relative;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  color: rgb(196, 196, 196);
  height: 100px;
  &:hover {
    .dropdown__icon {
      transform: rotate(90deg);
    }
    .dropdown__container {
      opacity: 1;
      pointer-events: all;
      transform: translateY(5px);
    }
  }
  &__img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 2px;
  }
  &__icon {
    width: 20px;
    transition: all 0.3s ease-in;
  }
  &__container {
    position: absolute;
    top: 40px;
    width: 170px;
    background: #000;
    right: -10px;
    border-radius: 3px;
    transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.1s ease-in;
    font-size: 0.8rem;
    &__users {
      padding: 10px 10px 0 10px;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid gray;
      &__link {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s ease-in;
        margin-bottom: 10px;
        &:hover {
          text-decoration: underline;
        }
        img {
          width: 30px;
          height: 30px;
          border-radius: 9px;
          object-fit: cover;
          margin-right: 10px;
        }
      }
      &__manage {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 8px;
        transition: all 0.3s ease-in;
        &:hover {
          text-decoration: underline;
        }
        &__icon {
          width: 20px;
          margin-right: 20px;
        }
      }
    }
    &__settings {
      padding: 10px;
      display: flex;
      flex-direction: column;
      &__item {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 10px 0;
        transition: all 0.3s ease-in;
        &:hover {
          text-decoration: underline;
        }
        nb-icon {
          width: 20px;
          margin-right: 20px;
        }
      }
    }
  }
}
