<div class="dropdown">
  <img [src]="imgURL" class="dropdown__img" alt="" />
  <nb-icon icon="arrow-ios-forward-outline" class="dropdown__icon"></nb-icon>

  <div class="dropdown__container">
    <div class="dropdown__container__users">
      <a
        class="dropdown__container__users__link"
        (click)="goToAccount(user.tag)"
        *ngFor="let user of usersDropdown"
      >
        <img [src]="user.bgImage || ''" alt="" />
        <p>{{ user.text }}</p>
      </a>
      <div class="dropdown__container__users__manage">
        <nb-icon
          icon="edit-outline"
          class="dropdown__container__users__manage__icon"
        ></nb-icon>
        <p>Manage Profile</p>
      </div>
    </div>
    <div class="dropdown__container__settings">
      <div class="dropdown__container__settings__item">
        <nb-icon icon="person-outline"></nb-icon>
        <p>Account</p>
      </div>
      <div
        class="dropdown__container__settings__item"
        (click)="handleDropdownSettings(setting.tag)"
        *ngFor="let setting of settingsDropdown"
      >
        <nb-icon [icon]="setting.icon || ''"></nb-icon>
        <p>{{ setting.text }}</p>
      </div>
    </div>
  </div>
</div>
