<div class="dropdown">
  <img [src]="(user$ | async)?.photoURL" class="dropdown__img" alt="" />
  <nb-icon icon="arrow-ios-forward-outline" class="dropdown__icon"></nb-icon>

  <div class="dropdown__container">
    <div class="dropdown__container__users">
      <a
        class="dropdown__container__users__link"
        (click)="goToAccount(profile._id || '')"
        *ngFor="let profile of profiles$ | async"
      >
        <img [src]="profile.photoURL || ''" alt="" />
        <p>{{ profile.name }}</p>
      </a>
      <div
        class="dropdown__container__users__manage"
        (click)="openManageProfileModal()"
      >
        <nb-icon
          icon="edit-outline"
          class="dropdown__container__users__manage__icon"
        ></nb-icon>
        <p>Manage Profile</p>
      </div>
    </div>
    <div class="dropdown__container__settings">
      <div
        class="dropdown__container__settings__item"
        (click)="handleDropdownSettings(setting.tag)"
        *ngFor="let setting of settingsDropdown"
      >
        <nb-icon [icon]="setting.icon || ''"></nb-icon>
        <p>{{ setting.text }}</p>
      </div>
    </div>
  </div>
</div>
