<div class="dropdown">
  <img [src]="imgURL" class="dropdown__img" alt="" />
  <nb-icon icon="arrow-ios-forward-outline" class="dropdown__icon"></nb-icon>

  <div class="dropdown__container">
    <div class="dropdown__container__users">
      <a class="dropdown__container__users__link">
        <img
          src="https://www.cityguide-dubai.com/fileadmin/_processed_/3/3/csm_img-worlds-of-adventures-teaser_40e4184da1.jpg"
          alt=""
        />
        <p>User 1</p>
      </a>
      <div class="dropdown__container__users__manage">
        <nb-icon
          icon="edit-outline"
          class="dropdown__container__users__manage__icon"
        ></nb-icon>
        <p>Manage Profile</p>
      </div>
    </div>
    <div class="dropdown__container__settings">
      <div class="dropdown__container__settings__item">
        <nb-icon icon="person-outline"></nb-icon>
        <p>Account</p>
      </div>
      <div class="dropdown__container__settings__item">
        <nb-icon icon="question-mark-circle-outline"></nb-icon>
        <p>Help Center</p>
      </div>
    </div>
  </div>
</div>
