.browse {
  height: 100vh;
  overflow: hidden;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  &__logo {
    position: absolute;
    top: 32px;
    left: 92px;
    width: 9rem;
  }
  &__container {
    width: 60%;
    display: flex;
    flex-direction: column;
    &__title {
      color: white;
      font-size: 2.6rem;
      text-align: center;
      margin-bottom: 50px;
    }
    &__cards {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      height: 180px;
      &__item {
        height: 180px;
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
      &__add {
        display: flex;
        cursor: pointer;
        height: 220px;
        width: 180px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 30px;
        &__container {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          &__icon {
            font-size: 4rem;
            color: gray;
          }
        }
        &__link {
          margin-top: 10px;
          text-align: center;
          color: rgb(73, 73, 73);
        }
      }
    }

    &__link {
      padding: 5px 10px;
      color: gray;
      border: 2px solid gray;
      text-transform: uppercase;
      width: max-content;
      margin: 50px auto 0 auto;
      font-size: 1rem;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
  }
}
