<div class="browse">
  <div class="browse__container">
    <h1 class="browse__container__title">Who's watching?</h1>
    <div class="browse__container__cards" *ngIf="profiles$ | async as profiles">
      <app-browse-card
        class="browse__container__cards__card"
        *ngFor="let profile of profiles"
        [userCard]="profile"
        (onSelectUser)="selectUser(profile._id || '')"
      ></app-browse-card>
      <a (click)="openAddProfileModal()" class="browse__container__cards__add">
        <div class="browse__container__cards__add__container">
          <nb-icon
            class="browse__container__cards__add__container__icon"
            icon="plus-circle-outline"
          ></nb-icon>
        </div>
        <p class="browse__container__cards__add__link">Add Profile</p>
      </a>
    </div>
    <a class="browse__container__link" href="/manage">Manage Profiles </a>
  </div>
</div>
