<div class="login">
  <div class="wrapper">
    <h1>S'identifier</h1>
    <form [formGroup]="credential">
      <div class="login__wrapper">
        <label for="username"> Username </label>
        <input
          type="text"
          formControlName="username"
          id="username"
          name="username"
        />
      </div>
      <div class="login__wrapper">
        <label for="password"> Mot de Passe </label>
        <input
          type="password"
          formControlName="password"
          name="password"
          id="password"
        />
      </div>
      <button [nbSpinner]="(pending$ | async) || false" (click)="login($event)">
        Se connecter
      </button>
      <span *ngIf="error$ | async" style="color: #d22f27">Cannot log in</span>
    </form>
    <div class="remember">
      <div class="remember__wrapper">
        <input
          type="checkbox"
          formControlName="souvenir"
          name="souvenir"
          id="souvenir"
        />
        <label for="souvenir">Se souvenir de moi </label>
      </div>
      <div>Besoin d'aide ?</div>
    </div>
    <div class="first__visit">
      <p>Première visite sur Netflix ?</p>
      <a href="/register">
        <span>Inscrivez-vous.</span>
      </a>
    </div>
    <div class="captcha">
      <p>
        Cette page est protégée par Google reCAPTCHA pour nous assurer que vous
        n'êtes pas un robot
      </p>
      <span>En savoir plus.</span>
    </div>
  </div>
</div>
