.search {
  margin-top: 60px;
  min-height: 100vh;
  background: #000;
  &__title {
    margin: 20px 0;
    text-align: center;
    color: white;
  }
  &__container {
    width: calc(90% + 14px);
    height: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    &__item {
      margin: 10px;
    }
  }
}
