.manage {
  width: 80vw;
  height: 70vh;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.575);
  border-radius: 6px;

  background: black;
  display: flex;
  flex-direction: column;
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 80%;
    margin: auto;
    &__header {
      width: 100%;
      margin-bottom: 20px;
      &__title {
        color: rgb(243, 243, 243);
        font-size: 2rem;
        text-align: center;
      }
    }
    &__cards {
      display: flex;
      flex-direction: column;
      width: 90%;
      border-top: 2px solid gray;
      border-bottom: 2px solid gray;
      overflow-y: scroll;
      .manage__card {
        display: flex;
        align-items: center;
        padding: 20px 0;
        &:not(:last-child) {
          border-bottom: 1px solid rgba(128, 128, 128, 0.507);
        }
        &__img {
          flex: 1;
          width: 100px;
          height: 100%;
          border-radius: 5px;
        }
        &__infos {
          padding: 10px 30px;
          flex: 4;
          display: flex;
          flex-direction: column;
          span {
            margin-bottom: 5px;
            color: white;
          }
        }
        &__actions {
          flex: 1;
          &__btn {
            outline: none;
            cursor: pointer;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 6px 10px;
            border: none;
            border-radius: 7px;
            font-weight: bold;
            span {
              flex: 1;
            }
            &.edit {
              background: linear-gradient(190deg, #363636, #000000, #4a4a4a);
              border: 1px solid white;
              color: white;
              margin-bottom: 10px;
              & > span {
                margin-right: 10px;
              }
            }
            &.delete {
              background: linear-gradient(190deg, #e62f2f, #ff4040, #cd1515);
              color: #f1f1f1;
              border: 1px solid #f1f1f1;

              & > span {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
  &__footer {
    padding: 20px 0;
    width: 72%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    &__btn {
      cursor: pointer;
      width: 80px;
      padding: 10px 0;
      background: linear-gradient(190deg, #e62f2f, #ff4040, #cd1515);
      border: none;
      border-radius: 5px;
      color: white;
      font-weight: bold;
    }
  }
}
