.list {
  position: relative;
  bottom: 80px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  &__top {
    width: 90%;
    margin: 0 auto 20px auto;
  }
  &__bottom {
    display: flex;
    align-items: center;
    width: 95%;
    margin-left: auto;
    transform: translateX(10px);
    &__list {
      transition: all 0.3s ease-in;
      width: 100%;
      display: flex;
      align-items: center;
      transition: transform 0.3s ease;
      &:hover {
        malet-movie-list-item {
          transform: translateX(-10%);
        }
      }
      malet-movie-list-item {
        position: relative;
        z-index: 1;
        transition: transform 0.3s ease;
        &:hover {
          transform: scale(1.3);
          ~ malet-movie-list-item {
            transform: translateX(10%);
          }
        }
      }
    }
    &__btn {
      position: absolute;
      z-index: 10000;
      border: none;
      height: 100%;
      width: 10%;
      cursor: pointer;
      nb-icon.arrow {
        width: 50px;
        color: #f1f1f1;
        font-size: 3rem;
      }
      &--left {
        left: calc(10px - 8%);
        background: linear-gradient(88deg, #00000099, #00000030, transparent);
      }
      &--right {
        background: linear-gradient(289deg, #00000099, #00000030, transparent);
        right: -1px;
      }
    }
  }
}
