<div class="list">
  <div class="list__top">
    <h1 class="list__title">Les meilleurs films de netflix</h1>
  </div>
  <div class="list__bottom">
    <button
      class="list__bottom__btn list__bottom__btn--left"
      (click)="goTo('left')"
    >
      <nb-icon class="arrow" icon="arrow-ios-back-outline"></nb-icon>
    </button>
    <div class="list__bottom__list" #list>
      <malet-movie-list-item *ngFor="let list of movieList; ngTrackBy: trackBy">
      </malet-movie-list-item>
    </div>
    <button
      class="list__bottom__btn list__bottom__btn--right"
      (click)="goTo('right')"
    >
      <nb-icon class="arrow" icon="arrow-ios-forward-outline"></nb-icon>
    </button>
  </div>
</div>
