<div class="manage" [nbSpinner]="loading">
  <div class="manage__container">
    <div class="manage__container__header">
      <h1 class="manage__container__header__title">MANAGE PROFILES</h1>
    </div>
    <div class="manage__container__cards">
      <malet-manage-profile-card
        *ngFor="let profile of profiles"
        [profile]="profile"
        (onEdit)="edit($event)"
        (onRemove)="remove($event)"
      >
      </malet-manage-profile-card>
    </div>
  </div>
  <div class="manage__footer">
    <button class="manage__footer__btn" (click)="dismiss()">
      <nb-icon icon="close-outline" class="manage__footer__btn__icon"></nb-icon>
      Close
    </button>
  </div>
</div>
