:host ::ng-deep nb-layout-column {
  padding: 0 !important;
}

:host ::ng-deep a {
  color: inherit;
  font-size: inherit;
  height: inherit;
  width: inherit;
}

:host ::ng-deep button {
  color: inherit;
  font-size: inherit;
  height: inherit;
  width: inherit;
}

p {
  color: inherit;
  font-size: inherit;
  height: inherit;
  width: inherit;
}
