.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 20px 0;
  &__left {
    display: flex;
    align-items: center;
    &__logo {
      width: 100px;
      cursor: pointer;
    }
  }
  &__right {
    display: flex;
    align-items: center;
  }
}
