<header class="nav">
  <div class="nav__left">
    <img
      src="../../../../../assets/images/netflix.svg"
      alt=""
      class="nav__left__logo"
    />
    <malet-navbar-links class="nav__left__links"> </malet-navbar-links>
  </div>
  <div class="nav__right">
    <malet-search class="nav__right__search"></malet-search>
    <malet-dropdown
      [imgURL]="
        'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReHTRKk6eSVY0cdIDwD_u94q7vzCMqzyxwbA&usqp=CAU'
      "
      class="nav__right__dropdown"
    ></malet-dropdown>
  </div>
</header>
