.browse__card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  &__container {
    width: 100%;
    height: 100%;
    flex: 1;
    &__img {
      width: 100%;
      height: 100%;
      border: 3px solid rgba(0, 0, 0, 0.32);
      object-fit: contain;
    }
  }
  &__text {
    font-size: 1.1rem;
    margin-top: 15px;
    text-align: center;
    color: rgb(73, 73, 73);
  }
}
