<div class="billboard">
  <img
    src="https://n-cdn.serienjunkies.de/11/107331.jpg"
    class="billboard__img"
    alt=""
  />
  <div class="billboard__layer"></div>
  <div class="billboard__layer__bottom"></div>
  <div class="billboard__container">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Friends_logo.svg/2560px-Friends_logo.svg.png"
      alt=""
      class="billboard__container__img"
    />
    <p class="billboard__container__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nisi labore
      animi iste placeat expedita vitae consectetur accusantium delectus at
      molestiae dolorem beatae in
    </p>
    <div class="billboard__container__links">
      <a
        href="/watch/123"
        class="
          billboard__container__links__link
          billboard__container__links__link--play
        "
        ><nb-icon class="arrow__icon" icon="arrow-right"></nb-icon> Lecture</a
      >
      <button
        class="
          billboard__container__links__link
          billboard__container__links__link--infos
        "
      >
        <nb-icon class="info__icon" icon="info-outline"></nb-icon> Plus d'infos
      </button>
    </div>
  </div>
</div>
